## Phase 3 Project

* <b>Name:</b> James Benedito
* <b>Pace:</b> Part-Time 
* <b>Instructor:</b> Morgan Jones

## Business Problem

With the recent COVID-19 pandemic affecting the entire world, vaccines have been at the center of many conversations. The development of COVID-19 vaccines by various companies like Moderna and Pfizer have exposed the hesitancies and concerns people have about receiving them. 

This Jupyter notebook will examine data on another vaccine, the H1N1 flu vaccine, to determine the best predictors of a person getting vaccinated for H1N1. The information presented in this notebook will be applicable to public health officials who are at the forefront of vaccine awareness efforts and give them insight on the types of people they can target more to increase overall H1N1 vaccination rates.

## Goal

My goal is to generate concrete suggestions on ways to increase H1N1 vaccination rates by creating different classification models. These models will be trained on training data and their efficacy will be quantified using metrics produced by a classification report. I will then choose the best model, tune its hyperparameters, and finalize my model.

## Dataset

The dataset I am using for this analysis houses data from the National 2009 H1N1 Flu Survey, which was conducted in the United States. It consists of answers to questions regarding a participant's background, vaccine opinions, and health behaviors. It should be noted that the dataset has two targets, the <b>h1n1_vaccine</b> and <b>seasonal_vaccine</b> variables. However, for this project, the sole <b>dependent variable</b> of interest is the <b>h1n1_vaccine</b> variable. The dataset is essentially split up into 3 different files: <b>training_set_features</b>, <b>training_set_labels</b>, and <b>test_set_features</b>. For the sake of simplicity, I will merely be looking at the <b>training_set_features</b> and <b>training_set_labels</b> files. I will combine both files into a single dataset and perform a <b>train_test_split()</b> to create a training set and a test set.

## Data Exploration

I will start by exploring the <b>training_set_features</b> file using the <b>.head()</b>, <b>.info()</b>, and <b>.describe()</b> methods.

In [1]:
import pandas as pd

training_set_feat = pd.read_csv('training_set_features.csv', index_col=0)
training_set_feat.head()

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
respondent_id,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [2]:
training_set_feat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26707 entries, 0 to 26706
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_concern                 26615 non-null  float64
 1   h1n1_knowledge               26591 non-null  float64
 2   behavioral_antiviral_meds    26636 non-null  float64
 3   behavioral_avoidance         26499 non-null  float64
 4   behavioral_face_mask         26688 non-null  float64
 5   behavioral_wash_hands        26665 non-null  float64
 6   behavioral_large_gatherings  26620 non-null  float64
 7   behavioral_outside_home      26625 non-null  float64
 8   behavioral_touch_face        26579 non-null  float64
 9   doctor_recc_h1n1             24547 non-null  float64
 10  doctor_recc_seasonal         24547 non-null  float64
 11  chronic_med_condition        25736 non-null  float64
 12  child_under_6_months         25887 non-null  float64
 13  health_worker                25903 non-null  float64
 14  health_insurance             14433 non-null  float64
 15  opinion_h1n1_vacc_effective  26316 non-null  float64
 16  opinion_h1n1_risk            26319 non-null  float64
 17  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 18  opinion_seas_vacc_effective  26245 non-null  float64
 19  opinion_seas_risk            26193 non-null  float64
 20  opinion_seas_sick_from_vacc  26170 non-null  float64
 21  age_group                    26707 non-null  object
 22  education                    25300 non-null  object
 23  race                         26707 non-null  object
 24  sex                          26707 non-null  object
 25  income_poverty               22284 non-null  object
 26  marital_status               25299 non-null  object
 27  rent_or_own                  24665 non-null  object
 28  employment_status            25244 non-null  object
 29  hhs_geo_region               26707 non-null  object
 30  census_msa                   26707 non-null  object
 31  household_adults             26458 non-null  float64
 32  household_children           26458 non-null  float64
 33  employment_industry          13377 non-null  object
 34  employment_occupation        13237 non-null  object
dtypes: float64(23), object(12)
memory usage: 7.3+ MB

In [3]:
training_set_feat.describe()

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,health_worker,health_insurance,opinion_h1n1_vacc_effective,opinion_h1n1_risk,opinion_h1n1_sick_from_vacc,opinion_seas_vacc_effective,opinion_seas_risk,opinion_seas_sick_from_vacc,household_adults,household_children
count,26615.000000,26591.000000,26636.000000,26499.000000,26688.000000,26665.000000,26620.00000,26625.000000,26579.000000,24547.000000,...,25903.000000,14433.00000,26316.000000,26319.000000,26312.000000,26245.000000,26193.000000,26170.000000,26458.000000,26458.000000
mean,1.618486,1.262532,0.048844,0.725612,0.068982,0.825614,0.35864,0.337315,0.677264,0.220312,...,0.111918,0.87972,3.850623,2.342566,2.357670,4.025986,2.719162,2.118112,0.886499,0.534583
std,0.910311,0.618149,0.215545,0.446214,0.253429,0.379448,0.47961,0.472802,0.467531,0.414466,...,0.315271,0.32530,1.007436,1.285539,1.362766,1.086565,1.385055,1.332950,0.753422,0.928173
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,1.00000,3.000000,1.000000,1.000000,4.000000,2.000000,1.000000,0.000000,0.000000
50%,2.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.00000,0.000000,1.000000,0.000000,...,0.000000,1.00000,4.000000,2.000000,2.000000,4.000000,2.000000,2.000000,1.000000,0.000000
75%,2.000000,2.000000,0.000000,1.000000,0.000000,1.000000,1.00000,1.000000,1.000000,0.000000,...,0.000000,1.00000,5.000000,4.000000,4.000000,5.000000,4.000000,4.000000,1.000000,1.000000
max,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,...,1.000000,1.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,3.000000,3.000000

From our initial exploration of the <b>training_set_features</b> file, we can see that the dataset is quite large, consisting of <b>35 feature columns</b> and <b>over 26,000 rows</b>. The feature columns are a mixture of float and object dtypes, according to <b>.info()</b>. In addition, many of the columns are missing data.

Let's take a look at the <b>training_set_labels</b> file using the <b>.head()</b> and <b>.info()</b> methods.

In [4]:
training_set_labels = pd.read_csv('training_set_labels.csv', index_col=0)
training_set_labels.head()

               h1n1_vaccine  seasonal_vaccine
respondent_id
0                         0                 0
1                         0                 1
2                         0                 0
3                         0                 1
4                         0                 0

In [5]:
training_set_labels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26707 entries, 0 to 26706
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   h1n1_vaccine      26707 non-null  int64
 1   seasonal_vaccine  26707 non-null  int64
dtypes: int64(2)
memory usage: 625.9 KB

From <b>.head()</b>, we see that the <b>training_set_labels</b> file has two targets, <b>h1n1_vaccine</b> and <b>seasonal_vaccine</b>. As pointed out previously, the sole target we want to focus on for this project is the <b>h1n1_vaccine</b> variable.

## Data Preparation and Cleaning

Let's merge the <b>training_set_feat</b> and <b>training_set_labels</b> data into one dataframe called <b>h1n1_data</b>. Then, from there, we can drop any unnecessary columns.

In [6]:
# merging training_set_features and training_set_labels into one df
h1n1_data = pd.concat([training_set_feat, training_set_labels], axis=1) 
h1n1_data.head()

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation,h1n1_vaccine,seasonal_vaccine
respondent_id,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN,0,0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe,0,1
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,...,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo,0,0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN,0,1
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb,0,0

In [7]:
h1n1_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26707 entries, 0 to 26706
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_concern                 26615 non-null  float64
 1   h1n1_knowledge               26591 non-null  float64
 2   behavioral_antiviral_meds    26636 non-null  float64
 3   behavioral_avoidance         26499 non-null  float64
 4   behavioral_face_mask         26688 non-null  float64
 5   behavioral_wash_hands        26665 non-null  float64
 6   behavioral_large_gatherings  26620 non-null  float64
 7   behavioral_outside_home      26625 non-null  float64
 8   behavioral_touch_face        26579 non-null  float64
 9   doctor_recc_h1n1             24547 non-null  float64
 10  doctor_recc_seasonal         24547 non-null  float64
 11  chronic_med_condition        25736 non-null  float64
 12  child_under_6_months         25887 non-null  float64
 13  health_worker                25903 non-null  float64
 14  health_insurance             14433 non-null  float64
 15  opinion_h1n1_vacc_effective  26316 non-null  float64
 16  opinion_h1n1_risk            26319 non-null  float64
 17  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 18  opinion_seas_vacc_effective  26245 non-null  float64
 19  opinion_seas_risk            26193 non-null  float64
 20  opinion_seas_sick_from_vacc  26170 non-null  float64
 21  age_group                    26707 non-null  object
 22  education                    25300 non-null  object
 23  race                         26707 non-null  object
 24  sex                          26707 non-null  object
 25  income_poverty               22284 non-null  object
 26  marital_status               25299 non-null  object
 27  rent_or_own                  24665 non-null  object
 28  employment_status            25244 non-null  object
 29  hhs_geo_region               26707 non-null  object
 30  census_msa                   26707 non-null  object
 31  household_adults             26458 non-null  float64
 32  household_children           26458 non-null  float64
 33  employment_industry          13377 non-null  object
 34  employment_occupation        13237 non-null  object
 35  h1n1_vaccine                 26707 non-null  int64
 36  seasonal_vaccine             26707 non-null  int64
dtypes: float64(23), int64(2), object(12)
memory usage: 7.7+ MB

We can see from <b>.head()</b> and <b>.info()</b> that the merge was successful. Now, let's go ahead and get rid of any columns that have too many null values. Threshold-wise, I will drop any column that is composed of <b>more than 5% null values</b>.

In [8]:
# getting rid of columns where more than 5% of the data are null values
threshold = len(h1n1_data) * 0.95
h1n1_data.dropna(thresh=threshold, axis=1, inplace=True)
h1n1_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26707 entries, 0 to 26706
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_concern                 26615 non-null  float64
 1   h1n1_knowledge               26591 non-null  float64
 2   behavioral_antiviral_meds    26636 non-null  float64
 3   behavioral_avoidance         26499 non-null  float64
 4   behavioral_face_mask         26688 non-null  float64
 5   behavioral_wash_hands        26665 non-null  float64
 6   behavioral_large_gatherings  26620 non-null  float64
 7   behavioral_outside_home      26625 non-null  float64
 8   behavioral_touch_face        26579 non-null  float64
 9   chronic_med_condition        25736 non-null  float64
 10  child_under_6_months         25887 non-null  float64
 11  health_worker                25903 non-null  float64
 12  opinion_h1n1_vacc_effective  26316 non-null  float64
 13  opinion_h1n1_risk            26319 non-null  float64
 14  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 15  opinion_seas_vacc_effective  26245 non-null  float64
 16  opinion_seas_risk            26193 non-null  float64
 17  opinion_seas_sick_from_vacc  26170 non-null  float64
 18  age_group                    26707 non-null  object
 19  race                         26707 non-null  object
 20  sex                          26707 non-null  object
 21  hhs_geo_region               26707 non-null  object
 22  census_msa                   26707 non-null  object
 23  household_adults             26458 non-null  float64
 24  household_children           26458 non-null  float64
 25  h1n1_vaccine                 26707 non-null  int64
 26  seasonal_vaccine             26707 non-null  int64
dtypes: float64(20), int64(2), object(5)
memory usage: 5.7+ MB

Now that we have gotten rid of columns that are more than 5% null values, we can clean the dataframe further by taking care of any remaining columns that have to do with the <b>seasonal_vaccine</b>, since our focus for the project is the <b>H1N1_vaccine</b>.

In [9]:
# dropping columns that are relevant to only the seasonal_vaccine target
h1n1_data.drop(['opinion_seas_vacc_effective',
                'opinion_seas_risk',
                'opinion_seas_sick_from_vacc',
                'seasonal_vaccine'], 
                axis=1, 
                inplace=True)
h1n1_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26707 entries, 0 to 26706
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_concern                 26615 non-null  float64
 1   h1n1_knowledge               26591 non-null  float64
 2   behavioral_antiviral_meds    26636 non-null  float64
 3   behavioral_avoidance         26499 non-null  float64
 4   behavioral_face_mask         26688 non-null  float64
 5   behavioral_wash_hands        26665 non-null  float64
 6   behavioral_large_gatherings  26620 non-null  float64
 7   behavioral_outside_home      26625 non-null  float64
 8   behavioral_touch_face        26579 non-null  float64
 9   chronic_med_condition        25736 non-null  float64
 10  child_under_6_months         25887 non-null  float64
 11  health_worker                25903 non-null  float64
 12  opinion_h1n1_vacc_effective  26316 non-null  float64
 13  opinion_h1n1_risk            26319 non-null  float64
 14  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 15  age_group                    26707 non-null  object
 16  race                         26707 non-null  object
 17  sex                          26707 non-null  object
 18  hhs_geo_region               26707 non-null  object
 19  census_msa                   26707 non-null  object
 20  household_adults             26458 non-null  float64
 21  household_children           26458 non-null  float64
 22  h1n1_vaccine                 26707 non-null  int64
dtypes: float64(17), int64(1), object(5)
memory usage: 4.9+ MB

From <b>.info()</b>, we see that there are still quite a few columns with missing values. We can take care of the remaining null values by applying the <b>.dropna()</b> method. This will get rid of any rows that house null values.

In [10]:
# dropping any remaining null values
h1n1_data.dropna(inplace=True)
h1n1_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24828 entries, 0 to 26706
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_concern                 24828 non-null  float64
 1   h1n1_knowledge               24828 non-null  float64
 2   behavioral_antiviral_meds    24828 non-null  float64
 3   behavioral_avoidance         24828 non-null  float64
 4   behavioral_face_mask         24828 non-null  float64
 5   behavioral_wash_hands        24828 non-null  float64
 6   behavioral_large_gatherings  24828 non-null  float64
 7   behavioral_outside_home      24828 non-null  float64
 8   behavioral_touch_face        24828 non-null  float64
 9   chronic_med_condition        24828 non-null  float64
 10  child_under_6_months         24828 non-null  float64
 11  health_worker                24828 non-null  float64
 12  opinion_h1n1_vacc_effective  24828 non-null  float64
 13  opinion_h1n1_risk            24828 non-null  float64
 14  opinion_h1n1_sick_from_vacc  24828 non-null  float64
 15  age_group                    24828 non-null  object
 16  race                         24828 non-null  object
 17  sex                          24828 non-null  object
 18  hhs_geo_region               24828 non-null  object
 19  census_msa                   24828 non-null  object
 20  household_adults             24828 non-null  float64
 21  household_children           24828 non-null  float64
 22  h1n1_vaccine                 24828 non-null  int64
dtypes: float64(17), int64(1), object(5)
memory usage: 4.5+ MB

Now that the training set dataframe consists of the columns we want and has no null values, the next step is to take care of the columns of object dtype. From <b>.info()</b>, we see that these are <b>age_group</b>, <b>race</b>, <b>sex</b>, <b>hhs_geo_region</b>, and <b>census_msa</b>. Let's take a closer look at these columns using the <b>.value_counts()</b> method to see whether they are binary or have multiple categories.

In [11]:
# looking at columns of object dtype to see if they are binary or have multiple categories
print(h1n1_data['age_group'].value_counts())
print('...')
print(h1n1_data['race'].value_counts())
print('...')
print(h1n1_data['sex'].value_counts())
print('...')
print(h1n1_data['hhs_geo_region'].value_counts())
print('...')
print(h1n1_data['census_msa'].value_counts())

65+ Years        6217
55 - 64 Years    5230
45 - 54 Years    4928
18 - 34 Years    4864
35 - 44 Years    3589
Name: age_group, dtype: int64
...
White                19774
Black                 1936
Hispanic              1660
Other or Multiple     1458
Name: race, dtype: int64
...
Female    14807
Male      10021
Name: sex, dtype: int64
...
lzgpxyit    3952
fpwskwrf    3005
qufhixun    2918
oxchjgsf    2683
bhuqouqj    2675
kbazzjca    2645
mlyzmhmf    2078
lrircsnp    1926
atmpeygn    1922
dqpwygqj    1024
Name: hhs_geo_region, dtype: int64
...
MSA, Not Principle  City    10860
MSA, Principle City          7234
Non-MSA                      6734
Name: census_msa, dtype: int64

From <b>.value_counts()</b>, we see that all of the object columns have multiple categories, except for <b>sex</b>, which is binary. Because the <b>sex</b> column is binary, we can use <b>OrdinalEncoder</b> from <b>sklearn.preprocessing</b> to transform it.

In [12]:
# transforming sex col using OrdinalEncoder
from sklearn.preprocessing import OrdinalEncoder

sex_train = h1n1_data[['sex']]
encoder_sex = OrdinalEncoder()
encoder_sex.fit(sex_train)
sex_encoded_train = encoder_sex.transform(sex_train)
sex_encoded_train = sex_encoded_train.flatten()
h1n1_data['sex'] = sex_encoded_train
h1n1_data.head()

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,chronic_med_condition,...,opinion_h1n1_risk,opinion_h1n1_sick_from_vacc,age_group,race,sex,hhs_geo_region,census_msa,household_adults,household_children,h1n1_vaccine
respondent_id,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,2.0,55 - 64 Years,White,0.0,oxchjgsf,Non-MSA,0.0,0.0,0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,4.0,4.0,35 - 44 Years,White,1.0,bhuqouqj,"MSA, Not Principle City",0.0,0.0,0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,18 - 34 Years,White,1.0,qufhixun,"MSA, Not Principle City",2.0,0.0,0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,3.0,5.0,65+ Years,White,0.0,lrircsnp,"MSA, Principle City",0.0,0.0,0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,3.0,2.0,45 - 54 Years,White,0.0,qufhixun,"MSA, Not Principle City",1.0,0.0,0

From <b>.head()</b>, we can see that the <b>sex</b> column was successfully converted. For the other four columns with multiple categories, we can deploy <b>OneHotEncoder</b> from the same sklearn package as <b>OrdinalEncoder</b>. Because there are four columns that need to be taken care of, the most efficient approach is to create a dataframe for the columns of interest first.

In [13]:
# Code source: <https://stackoverflow.com/questions/68349266/how-to-create-a-for-loop-for-onehotencoder>

# transforming age_group, race, hhs_geo_region, and census_msa using OneHotEncoder

categorical_cols = ['age_group', 'race', 'hhs_geo_region', 'census_msa']

from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

# apply le on categorical feature columns
h1n1_data[categorical_cols] = h1n1_data[categorical_cols].apply(lambda col: le.fit_transform(col)) 

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

# one-hot-encode the categorical columns
# outputs an array instead of dataframe
array_hot_encoded = ohe.fit_transform(h1n1_data[categorical_cols])

# convert to dataframe
data_hot_encoded = pd.DataFrame(array_hot_encoded, index=h1n1_data.index)

# extract only the columns that are numeric and don't need to be encoded
data_numeric_cols = h1n1_data.drop(columns=categorical_cols)

# concatenate the two dataframes 
data_out = pd.concat([data_hot_encoded, data_numeric_cols], axis=1)

In [14]:
h1n1_data.head()

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,chronic_med_condition,...,opinion_h1n1_risk,opinion_h1n1_sick_from_vacc,age_group,race,sex,hhs_geo_region,census_msa,household_adults,household_children,h1n1_vaccine
respondent_id,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,2.0,3,3,0.0,8,2,0.0,0.0,0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,4.0,4.0,1,3,1.0,1,0,0.0,0.0,0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,0,3,1.0,9,0,2.0,0.0,0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,3.0,5.0,4,3,0.0,5,1,0.0,0.0,0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,3.0,2.0,2,3,0.0,9,0,1.0,0.0,0

In [15]:
h1n1_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24828 entries, 0 to 26706
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_concern                 24828 non-null  float64
 1   h1n1_knowledge               24828 non-null  float64
 2   behavioral_antiviral_meds    24828 non-null  float64
 3   behavioral_avoidance         24828 non-null  float64
 4   behavioral_face_mask         24828 non-null  float64
 5   behavioral_wash_hands        24828 non-null  float64
 6   behavioral_large_gatherings  24828 non-null  float64
 7   behavioral_outside_home      24828 non-null  float64
 8   behavioral_touch_face        24828 non-null  float64
 9   chronic_med_condition        24828 non-null  float64
 10  child_under_6_months         24828 non-null  float64
 11  health_worker                24828 non-null  float64
 12  opinion_h1n1_vacc_effective  24828 non-null  float64
 13  opinion_h1n1_risk            24828 non-null  float64
 14  opinion_h1n1_sick_from_vacc  24828 non-null  float64
 15  age_group                    24828 non-null  int32
 16  race                         24828 non-null  int32
 17  sex                          24828 non-null  float64
 18  hhs_geo_region               24828 non-null  int32
 19  census_msa                   24828 non-null  int32
 20  household_adults             24828 non-null  float64
 21  household_children           24828 non-null  float64
 22  h1n1_vaccine                 24828 non-null  int64
dtypes: float64(18), int32(4), int64(1)
memory usage: 4.2 MB

From <b>.head()</b> and <b>.info</b>, we see that the four columns with multiple categories were one hot encoded properly. Another consideration that must be factored in is the possibility of <b>class imbalance</b>. We can preview this using the <b>.value_counts()</b> method.

In [16]:
# previewing possible class imbalance
h1n1_data['h1n1_vaccine'].value_counts()

0    19513
1     5315
Name: h1n1_vaccine, dtype: int64

From <b>.value_counts()</b>, we can see that there is some slight class imbalance within the training set. A '0' indicates that a person did not receive the H1N1 vaccine while a '1' means someone did get it. Based on the values for each binary indicator, we can see that about 80% of those surveyed did not get vaccinated against H1N1, while around 20% received the vaccine. Because the minority class makes up <b>more than 10%</b> of the dataset, I will consider there to be no imbalance issue that needs to be addressed. Now, we can begin the iterative modeling process.

## Iterative Modeling

To start, we need to specify the target variable and the predictors. From there, we need to employ <b>train_test_split()</b> to split the <b>h1n1_data</b> into training and test sets.

In [17]:
# set target variable and predictors
X = h1n1_data.drop('h1n1_vaccine', axis=1)
y = h1n1_data['h1n1_vaccine']


X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

## Model 1: Decision Tree

For my first model, I will make a <b>decision tree</b>. Decision trees

## Model 2: K-Nearest Neighbors

For my second model, I will create a <b>k-nearest neighbors (kNN)</b> model. For this type of model, scaling is required as an initial step. This scaling will be achieved by calling upon

## Model 3: Random Forest

## Best Model

## Hyperparameter Tuning: Best Model

## Final Model

## Conclusions

Suggestions (3)

## Limitations and Future Improvements